*{
    padding-top:5px ;
 
}


.footer{
    background-color:  #D6D6D6;

}

.footer-container {
    display: flex;
    justify-content: space-around;

}

.footer-a-propos {
    width: 200px;
    text-align: center;
}

.footer-a-propos h2 {
    color:  #DD5B5B ;
}

.footer-about h2 {
    color: #DD5B5B;
    text-align: center;

}

.footer-about ul {
    list-style: none;
}

.footer-about a {
    text-decoration: none;
    color: black;

}

.footer-nos-agences h2 {
    color:  #DD5B5B;
    text-align: center;

}

.footer-nos-agences a {
    text-decoration: none;
    color: black;
}

.footer-nos-agences ul {
    list-style: none;
}

.footer-contact h2 {
    color:  #DD5B5B;
    text-align: center;

}

.footer-copyright {
    background-color: #644141;
}

#footer p {
    text-align: center;
}

.footer ul li a:hover {
    color:  #dc5151
    ;

}

.flexFooter{
    display: flex;
    gap: 10px;
    
}
.contact-copyright{
    text-align: center ; 
    padding-top:20px ;
    padding-bottom: 20px; 
    
}

@media (max-width:700px) {
    .footer-container{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .footer-a-propos{
        width: 100%;
    }
    .flexFooter{
        display: flex;
        justify-content: center;
        gap: 10px;
        
    }
    
}
